$note-color-1: 	#ff7eb9;
$note-color-2: 	#ff65a3;
$note-color-3: 	#7afcff;
$note-color-4: 	#feff9c;
$note-color-5: 	#fff740;

$colors: $note-color-1,$note-color-2,$note-color-3,$note-color-4,$note-color-5;
$repeat: 10;


// .done {
//     h3,h4 {
//         text-decoration: line-through 2.5px;
//     }
// }

.note {
    width: 16em;
    height: 16em;
    background-color: $note-color-2;
    box-shadow: 3px 5px 10px .5px black;
    border-radius: 5px;
    margin: 1em;
    position: relative;


    #pin {
        display: block;
        width: 3em;
        height: 3em;
        margin: 0 auto;
    }
    
    h3 {
        text-align: center;
        padding-top: 1em;
    }
    h4 {
        padding-top: 2em;
        text-align: center;
    }

    .p-done {
       font-size: 200px;
        color: black;
        position: absolute;
        top: 0;
        left: 23%;
        opacity: .75;
        
        
    }
    
}