@import '../Note/style.scss';

.form {
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%,-13%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1000;
    background-color: $note-color-5;
    border: 1px solid black;

    input {
        margin: .5em;
        padding: .5em;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        background-color: lightgray;


        &::placeholder{
            padding: .3em;
            font-size: 18px;
            text-align: left;
            letter-spacing: .5px;
            color: black;
        }
    }
    button {
        border-radius: 8px;
        border: none;
        text-align: center;
        padding: .4em .3em;
        width: 7em;
        
    }

}